.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 0.3rem;
    text-transform: uppercase;

    @media (max-width: 800px) {
        padding: 0 34px;
    }

    @media (min-width: 801px) {
    }
}

.header__menu {
    list-style-type: none;
}
